.box-consumo{
    height: 70px;
    padding: 10px;
    cursor: pointer;
}

.box-consumo .box-content{
    height: 100%;
    border-radius: 40px;
    background-color: #55d5af;
}

.box-consumo div img{
    height: 50px;
    width: 50px;
    border-radius: 40px;
}

.box-selected {
    float: right;
}