.box-option {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    background-color: #40A286;
    height: 80px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px #4E4E4E;
}

.icon-option {
    height: 60px;
    width: 60px;
}

.text-option {
    color: #FFF;
    opacity: 0;
    font-family: androgyne;
    font-size: 25px;
}

.box-selected {
    height: 140px;
    background-color: #368A72;
}

.box-selected .icon-option{
    height: 80px;
    width: 80px;
    margin-bottom: 10px
}

.box-selected .text-option{
    opacity: 1;
}
