@font-face {
     font-family: abrila;
     src: url('../fonts/abrila/abrila.ttf');
}
@font-face {
     font-family: adoreyou;
     src: url('../fonts/adoreyou/adoreyou.ttf');
}
@font-face {
     font-family: adventure;
     src: url('../fonts/adventure/adventure.ttf');
}
@font-face {
     font-family: aeroport;
     src: url('../fonts/aeroport/aeroport.ttf');
}
@font-face {
     font-family: alwaystogether;
     src: url('../fonts/alwaysTogether/alwaystogether.otf');
}
@font-face {
     font-family: amaze1;
     src: url('../fonts/amaze/amaze1.TTF');
}
@font-face {
     font-family: amaze2;
     src: url('../fonts/amaze/amaze2.TTF');
}
@font-face {
     font-family: amaze3;
     src: url('../fonts/amaze/amaze3.TTF');
}
@font-face {
     font-family: androgyne;
     src: url('../fonts/androgyne/androgyne.otf');
}
@font-face {
     font-family: armadillo;
     src: url('../fonts/armadillo/armadillo.ttf');
}
@font-face {
     font-family: brodie;
     src: url('../fonts/brodie/brodie.ttf');
}